@max-content: 1280px;

// System Color
@primary-color: #29a867;
@success-color: #16c79a;
@warning-color: #f6c065;
@error-color: #ef4f4f;
@info-color: #008891;
@white-color: #ffffff;
@secondary-color: #fdc040;
@disabled-color: #d9d9d9;
@grey-color: #848484;
@grey-color-2: #f4f4f4;
@grey-color-3: #c5c5c5;
@orange-color: #ff7158;
@pink-color: #fc5e84;
@black-color: #0c0d36;

@border-color-1: #e4e4e4;

@border-radius: 6px;

@hover-primary-color: #23965b;
@focus-primary-color: #3cd184;
